*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#input {
    display: none;
}

#inputLabel {
    padding: 20px 10px;
    background-color: rgb(203, 196, 209);
    color: white;
    font-size: 20px;
}
